

html, body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-size: 100%;
}


Body{
    font-family: 'Roboto', sans-serif;

}

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://images.pexels.com/photos/37728/pexels-photo-37728.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}
.content{
    max-width: 40%;
    margin:0 auto;
    text-align: center;

}

 P{
    color: white;
    text-shadow: 0px 0px 200px black;
    padding:0;
    margin: 0 auto;
    margin-top: 2%;
    text-transform: uppercase;
    font-size: 10px; 
    font-size: 2vw;
    letter-spacing: .5em;
    opacity: .7;
    max-width: 500px;
    margin-bottom: 5%;




}


.logo{
    width: 100%;
	max-width: 100% !important;
    max-height: 100%;
    margin-bottom: 5%;
}

.btn{
    
    border-radius: 9px;
    color: white;
    font-size: 16px;
    font-size: 2vw;
    padding:2%;
    border: solid white .1em;
    text-decoration: none;
    margin-top: 30%;
}

.btn:hover {
    color: rbg(240,56, 96);

}


.outter{
    margin: 0 auto;
    vertical-align: middle;
    

}



